# VS Code files
.vscode*

# LaTeX files
thesis.pdf
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*-blx.bib
*.glg
*.glo
*.gls*
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc*
*.out
*.ptc
*.run.xml
*.synctex.gz*
*.tdo
*.toc
